# =========== POSTGRES (для Docker) ===========
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=auth_password
POSTGRES_DB=auth_db

# =========== SHARED ===========
SHARED__JWT_SECRET=skibidi
SHARED__JWT_ALGORITHM=HS256
SHARED__JWT_ISSUER=briolin-api-gateway
SHARED__JWT_AUDIENCE=briolin-services
SHARED__JWT_EXPIRE_MINUTES=5

# =========== RABBITMQ ===========
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest
RABBITMQ__VHOST=/

# =========== KEYCLOAK ===========
KEYCLOAK__SERVER_URL=http://keycloak:8080/
KEYCLOAK__REALM=briolin

# =========== AUTH SERVICE ===========
AUTH__KEYCLOAK__CLIENT_ID=briolin-auth-service
AUTH__KEYCLOAK__CLIENT_SECRET=vaLMdCQfsEvQNh7tzPy5C5dQK5BFO6LC
AUTH__DB__USER=auth_user
AUTH__DB__PASSWORD=auth_password
AUTH__DB__HOST=auth-postgres
AUTH__DB__PORT=5432
AUTH__DB__NAME=auth_db
AUTH__USER_SERVICE__URL=http://user-service:8002
AUTH__DEBUG=True
AUTH__SERVICE_NAME=auth-service