# Service
SERVICE_NAME=system-time
SERVICE_PORT=8001
SERVICE_HOST=0.0.0.0
DEBUG=True

# Database
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=auth_user_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=system_time_db

# Keycloak
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_ID=python-app
KEYCLOAK_CLIENT_SECRET=Ui1AoYuVeHnG8ecV8EQfRHLHnsQ7e277
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Frontend
FRONTEND_URLS=http://localhost:3000,http://localhost:3001